@charset "UTF-8";
/*
Theme Name: Asmodée Experts
Author: Studio 808
Description: Thème sur mesure basé sur Bootstrap
Requires at least: WordPress 5.8
Version: 1.0
*/
/**********                 **********/
/********** Appel des fonts **********/
/**********                 **********/
@font-face {
  font-family: "Sora Bold";
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.eot");
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.woff") format("woff"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.woff2") format("woff2"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.ttf") format("truetype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.svg#Sora-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora SemiBold";
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.eot");
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.woff") format("woff"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.woff2") format("woff2"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.ttf") format("truetype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.svg#Sora-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora ExtraBold";
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.eot");
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.woff") format("woff"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.woff2") format("woff2"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.ttf") format("truetype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.svg#Sora-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora Light";
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Light.eot");
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Light.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Light.woff") format("woff"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Light.woff2") format("woff2"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Light.ttf") format("truetype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Light.svg#Sora-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora ExtraLight";
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.eot");
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.woff") format("woff"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.woff2") format("woff2"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.ttf") format("truetype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.svg#Sora-ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora Medium";
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.eot");
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.woff") format("woff"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.woff2") format("woff2"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.ttf") format("truetype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.svg#Sora-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora Regular";
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.eot");
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.woff") format("woff"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.woff2") format("woff2"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.ttf") format("truetype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.svg#Sora-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora Thin";
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.eot");
  src: url("/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.woff") format("woff"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.woff2") format("woff2"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.ttf") format("truetype"), url("/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.svg#Sora-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**********           **********/
/********** Variables **********/
/**********           **********/
/**********                **********/
/********** Global / Reset **********/
/**********                **********/
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

h1 {
  font-family: "Sora SemiBold", sans-serif;
  color: #2E2E2E;
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-family: "Sora SemiBold", sans-serif;
  color: #2E2E2E;
  font-size: 23px;
  line-height: 32px;
}

h3 {
  font-family: "Sora Regular", sans-serif;
  color: #2E2E2E;
  font-size: 23px;
  line-height: 32px;
}
@media (max-width: 1199.98px) {
  h3 {
    font-size: 21px;
    line-height: 32px;
  }
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 767.98px) {
  h3 {
    font-size: 19px;
    line-height: 24px;
  }
}

h4 {
  font-family: "Sora Regular", sans-serif;
  color: #2E2E2E;
  font-size: 17px;
  line-height: 32px;
}

h5 {
  font-family: "Sora Regular", sans-serif;
  color: #2E2E2E;
  font-size: 14px;
  line-height: 24px;
}

p, a, ul, li, span {
  font-family: "Sora Light", sans-serif;
  color: #666666;
  font-size: 16px;
  line-height: 24px;
}
p b, p strong, a b, a strong, ul b, ul strong, li b, li strong, span b, span strong {
  font-family: "Sora SemiBold", sans-serif;
}

a, button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #0227B7;
  text-decoration: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

main {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/**********      **********/
/********** Menu **********/
/**********      **********/
.navbar {
  background: linear-gradient(180deg, rgba(46, 46, 46, 0.36) 0%, rgba(46, 46, 46, 0) 100%);
  z-index: 1;
}

/**********             **********/
/********** Page Accueil *********/
/**********             **********/
.home-top-wrapper {
  position: relative;
  margin-top: -166px;
}
.home-top-wrapper .home-top-image img {
  width: 100%;
  object-fit: cover;
  height: 700px;
}
@media (min-width: 1199.98px) {
  .home-top-wrapper .home-top-image img {
    height: 100vh;
  }
}
.home-top-wrapper .home-top-text {
  position: absolute;
  width: 570px;
  top: 180px;
  right: 200px;
  background-color: white;
  padding: 40px 60px;
}
@media (max-width: 1199.98px) {
  .home-top-wrapper .home-top-text {
    right: 100px;
  }
}
@media (max-width: 991.98px) {
  .home-top-wrapper .home-top-text {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.home-top-wrapper .home-top-text p {
  font-size: 16px;
  line-height: 24px;
}
.home-top-wrapper .home-top-text a {
  color: #0227B7;
}
.home-top-wrapper .home-top-text a:hover {
  color: #40CBCE;
}

.home-univers {
  margin-top: 60px;
}
.home-univers h2 {
  padding: 0 15px;
}
.home-univers .home-univers-wrapper {
  margin-top: 40px;
}
.home-univers .home-univers-wrapper .home-univers-content-wrapper {
  padding-bottom: 30px;
}
.home-univers .home-univers-wrapper .home-univers-content-wrapper .home-univers-content {
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 6px 10px #C4C4C4;
}
.home-univers .home-univers-wrapper .home-univers-content-wrapper .home-univers-content a {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.home-univers .home-univers-wrapper .home-univers-content-wrapper .home-univers-content a img {
  max-width: 50%;
  height: auto;
  padding: 20px 0;
  margin: 0 auto;
}

/**********        **********/
/********** Univers *********/
/**********        **********/
.single-univers .base-page-content-wrapper {
  margin-top: 60px;
}
.single-univers .base-page-content-wrapper .asmodee-back {
  display: inline-block;
  margin-bottom: 40px;
}
.single-univers .base-page-content-wrapper .asmodee-univers .asmodee-univers-left {
  text-align: center;
}
.single-univers .base-page-content-wrapper .asmodee-univers .asmodee-univers-left img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 100%;
  height: auto;
}
.single-univers .base-page-content-wrapper .asmodee-univers .asmodee-univers-right {
  margin-bottom: 160px;
}
@media (max-width: 767.98px) {
  .single-univers .base-page-content-wrapper .asmodee-univers .asmodee-univers-right {
    margin-top: 40px;
  }
}
.single-univers .base-page-content-wrapper .asmodee-univers .asmodee-univers-right a {
  display: inline-block;
  color: #634187;
  padding-bottom: 10px;
}
.single-univers .base-page-content-wrapper .asmodee-univers .asmodee-univers-right a:hover {
  color: #0227B7;
}
.single-univers footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

/**********          **********/
/********** Page 404 *********/
/**********          **********/
.error404 .page404-wrapper {
  margin-top: 60px;
}
.error404 .page404-wrapper .page404 {
  text-align: center;
}
.error404 .page404-wrapper .page404 h1 {
  font-size: 120px;
  line-height: 120px;
  margin-bottom: 40px;
}
@media (max-width: 450px) {
  .error404 .page404-wrapper .page404 h1 {
    font-size: 80px;
    line-height: 80px;
  }
}
.error404 .page404-wrapper .page404 a {
  color: #0227B7;
}
.error404 .page404-wrapper .page404 a:hover {
  color: #40CBCE;
}

/**********        **********/
/********** Footer *********/
/**********        **********/
footer {
  background-color: #2E2E2E;
  margin-top: 80px;
  padding: 20px 0;
}
@media (max-width: 991.98px) {
  footer .footer-wrapper .footer-left {
    text-align: center;
  }
}
footer .footer-wrapper .footer-left p {
  font-family: "Sora SemiBold", sans-serif;
  color: #FFFFFF;
  margin: 0;
  font-size: 23px;
  line-height: 32px;
}
footer .footer-wrapper .footer-right {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 991.98px) {
  footer .footer-wrapper .footer-right {
    flex-direction: column;
    margin-top: 10px;
  }
}
footer .footer-wrapper .footer-right a {
  font-size: 14px;
  line-height: 24px;
  color: #E0E0E0;
}
footer .footer-wrapper .footer-right a:hover {
  color: #999999;
}
footer .footer-wrapper .footer-right a:first-of-type {
  padding-right: 20px;
}
