/*
Theme Name: Asmodée Experts
Author: Studio 808
Description: Thème sur mesure basé sur Bootstrap
Requires at least: WordPress 5.8
Version: 1.0
*/




/**********                 **********/
/********** Appel des fonts **********/
/**********                 **********/

@font-face {
    font-family: 'Sora Bold';
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.eot');
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.woff') format('woff'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.woff2') format('woff2'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.ttf') format('truetype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Bold.svg#Sora-Bold') format('svg');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora SemiBold';
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.eot');
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.woff') format('woff'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.woff2') format('woff2'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.ttf') format('truetype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-SemiBold.svg#Sora-SemiBold') format('svg');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora ExtraBold';
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.eot');
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.woff') format('woff'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.woff2') format('woff2'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.ttf') format('truetype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraBold.svg#Sora-ExtraBold') format('svg');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora Light';
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Light.eot');
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Light.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Light.woff') format('woff'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Light.woff2') format('woff2'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Light.ttf') format('truetype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Light.svg#Sora-Light') format('svg');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora ExtraLight';
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.eot');
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.woff') format('woff'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.woff2') format('woff2'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.ttf') format('truetype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-ExtraLight.svg#Sora-ExtraLight') format('svg');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora Medium';
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.eot');
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.woff') format('woff'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.woff2') format('woff2'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.ttf') format('truetype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Medium.svg#Sora-Medium') format('svg');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora Regular';
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.eot');
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.woff') format('woff'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.woff2') format('woff2'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.ttf') format('truetype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Regular.svg#Sora-Regular') format('svg');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora Thin';
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.eot');
    src: url('/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.woff') format('woff'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.woff2') format('woff2'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.ttf') format('truetype'),
    url('/wp-content/themes/asmodeeexperts/fonts/Sora-Thin.svg#Sora-Thin') format('svg');
    font-weight:normal;
    font-style: normal;
}




/**********           **********/
/********** Variables **********/
/**********           **********/

$sora-bold: 'Sora Bold', sans-serif;
$sora-semi-bold: 'Sora SemiBold', sans-serif;
$sora-extra-bold: 'Sora ExtraBold', sans-serif;
$sora-light: 'Sora Light', sans-serif;
$sora-extra-light: 'Sora ExtraLight', sans-serif;
$sora-medium: 'Sora Medium', sans-serif;
$sora-regular: 'Sora Regular', sans-serif;
$sora-thin: 'Sora Thin', sans-serif;

$menu-gradient: linear-gradient(180deg, rgba(46, 46, 46, 0.36) 0%, rgba(46, 46, 46, 0) 100%);
$bleu-royal: #0227B7;
$bleu-turquoise: #40CBCE;
$orange: #FF2E00;
$jaune: #FFBD02;
$rose: #F80073;
$gris-01: #E0E0E0;
$gris-02: #D5D5D5;
$gris-alt: #999999;
$gris-texte: #666666;
$gris-dark: #2E2E2E;
$gris-univers: #C4C4C4;
$violet: #634187;
$blanc: #FFFFFF;
$noir: #000000;

@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin transition($x...){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;




/**********                **********/
/********** Global / Reset **********/
/**********                **********/

html {
    scroll-behavior: smooth;
}   

body {
    overflow-x: hidden;
    max-width:100%;
}

h1 {
    font-family: $sora-semi-bold;
    color: $gris-dark;
    font-size: 32px;
    line-height: 40px;
    // font-size: 45px;
    // line-height: 56px;
    // @media (max-width: $lg) {
    //     font-size: 38px;
    //     line-height: 48px;
    // }
    // @media (max-width: $md) {
    //     font-size: 30px;
    //     line-height: 40px;
    // }
    // @media (max-width: $sm) {
    //     font-size: 26px;
    //     line-height: 32px;
    // }
}

h2 {
    font-family: $sora-semi-bold;
    color: $gris-dark;
    font-size: 23px;
    line-height: 32px;
    // font-size: 32px;
    // line-height: 40px;
    // @media (max-width: $lg) {
    //     font-size: 28px;
    //     line-height: 40px;
    // }
    // @media (max-width: $md) {
    //     font-size: 24px;
    //     line-height: 32px;
    // }
    // @media (max-width: $sm) {
    //     font-size: 22px;
    //     line-height: 32px;
    // }
}

h3 {
    font-family: $sora-regular;
    color: $gris-dark;
    font-size: 23px;
    line-height: 32px;
    @media (max-width: $lg) {
        font-size: 21px;
        line-height: 32px;
    }
    @media (max-width: $md) {
        font-size: 20px;
        line-height: 32px;
    }
    @media (max-width: $sm) {
        font-size: 19px;
        line-height: 24px;
    }
}

h4 {
    font-family: $sora-regular;
    color: $gris-dark;
    font-size: 17px;
    line-height: 32px;
}

h5 {
    font-family: $sora-regular;
    color: $gris-dark;
    font-size: 14px;
    line-height: 24px;
}

p, a, ul, li, span {
    font-family: $sora-light;
    color: $gris-texte;
    font-size: 16px;
    line-height: 24px;
    // font-size: 18px;
    // line-height: 32px;
    b, strong {
        font-family: $sora-semi-bold;
    }
}

a, button {
    @include transition(.3s);
}

a {
    &:hover {
        color: $bleu-royal;
        text-decoration: none;
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}

main {
    padding-left: 0 !important;
    padding-right: 0 !important;
}




/**********      **********/
/********** Menu **********/
/**********      **********/

.navbar {
    // padding-top: 20px;
    background: $menu-gradient;
    z-index: 1;
}




/**********             **********/
/********** Page Accueil *********/
/**********             **********/

.home-top-wrapper {
    position: relative;
    // margin-top: -124px;
    margin-top: -166px;
    .home-top-image {
        img {
            width: 100%;
            object-fit: cover;
            height: 700px;
            @media (min-width: $lg) {
                height: 100vh;
            }
        }
    }
    .home-top-text {
        position: absolute;
        width: 570px;
        top: 180px;
        right: 200px;
        background-color: white;
        padding: 40px 60px;
        @media (max-width: $lg) {
            right: 100px;
        }
        @media (max-width: $md) {
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        p {
            font-size: 16px;
            line-height: 24px;
        }
        a {
            color: $bleu-royal;
            &:hover {
                color: $bleu-turquoise;
            }
        }
    }
}

.home-univers {
    margin-top: 60px;
    h2 {
        padding: 0 15px;
    }
    .home-univers-wrapper {
        margin-top: 40px;
        .home-univers-content-wrapper {
            padding-bottom: 30px;
            .home-univers-content {
                height: 100%;
                // background-color: $gris-univers;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                box-shadow: 0 6px 10px $gris-univers;
                a {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    img {
                        // max-width: 100%;
                        max-width: 50%;
                        height: auto;
                        padding: 20px 0;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}




/**********        **********/
/********** Univers *********/
/**********        **********/

.single-univers {
    .base-page-content-wrapper {
        margin-top: 60px;
        .asmodee-back {
            display: inline-block;
            margin-bottom: 40px;
        }
        .asmodee-univers {
            .asmodee-univers-left {
                text-align: center;
                img {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    max-width: 100%;
                    height: auto;
                }
            }
            .asmodee-univers-right {
                margin-bottom: 160px;
                @media (max-width: $sm) {
                    margin-top: 40px;
                }
                a {
                    display: inline-block;
                    color: $violet;
                    padding-bottom: 10px;
                    &:hover {
                        color: $bleu-royal;
                    }
                }
            }
        }
    }
    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}




/**********          **********/
/********** Page 404 *********/
/**********          **********/

.error404 {
    .page404-wrapper {
        margin-top: 60px;
        .page404 {
            text-align: center;
            h1 {
                font-size: 120px;
                line-height: 120px;
                margin-bottom: 40px;
                @media (max-width: 450px) {
                    font-size: 80px;
                    line-height: 80px;
                }
            }
            p {

            }
            a {
                color: $bleu-royal;
                &:hover {
                    color: $bleu-turquoise;
                }
            }
        }
    }
}





/**********        **********/
/********** Footer *********/
/**********        **********/

footer {
    background-color: $gris-dark;
    margin-top: 80px;
    padding: 20px 0;
    .footer-wrapper {
        .footer-left {
            @media (max-width: $md) {
                text-align: center;
            }
            p {
                font-family: $sora-semi-bold;
                color: $blanc;
                margin: 0;
                font-size: 23px;
                line-height: 32px;
            }
        }
        .footer-right {
            @media (max-width: $md) {
                flex-direction: column;
                margin-top: 10px;
            }
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: flex-end;
            a {
                font-size: 14px;
                line-height: 24px;
                color: $gris-01;
                &:hover {
                    color: $gris-alt;
                }
                &:first-of-type {
                    padding-right: 20px;
                }
            }
        }
    }
}